<ion-modal-view>
   <ion-header-bar class="bar-balanced">
      <h1 class = "title bar-balanced">Add Event</h1>
      <button class = "button button-icon icon-left ion-ios-close"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
	
   <ion-content>
      <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Title" ng-model="event.title">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="When" ng-model="event.date">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Where" ng-model="event.location">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Anything you would like to say..." ng-model="event.text"></textarea>
	  </label>
	  	<div class="button-padding">	
	  		<button class="button button-block button-balanced button-padding">
		  		Submit
				</button>
			</div>
		</div>
   </ion-content>
</ion-modal-view>