<ion-modal-view>
   <ion-header-bar class="bar-balanced">
      <h1 class = "title bar-balanced">Add Event</h1>
      <button class = "button button-icon icon-left ion-ios-close"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
	
   <ion-content>
      <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Title" ng-model="event.title">
	  </label>
	  <label class="item item-input">
	    <input type="datetime-local" placeholder="Date and Time" ng-model="event.time">
	  </label>
	  <label class="item item-input">
	  	<!-- use Google maps location API -->
	    <input type="text" placeholder="Location" ng-model="place"  g-places-autocomplete>
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Additional Info (optional)" ng-model="event.text"></textarea>
	  </label>
	  	<!-- <pre>{{place | json}}</pre> -->
	  	<div class="button-padding">	
	  		<button class="button button-block button-balanced button-padding" 
	  		ng-click="addEvent(event, place, time)">
		  		Submit
				</button>
				<button class="button button-block button-balanced button-padding" 
	  		ng-click="testTime(time)">
		  		Submit
				</button>
			</div>
		</div>
   </ion-content>
</ion-modal-view>