<ion-modal-view>
   <ion-header-bar class="bar-calm">
      <h1 class = "title bar-calm">Add Item</h1>
      <button class = "button button-icon icon-left ion-ios-close"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
	
   <ion-content>
      <ion-list>
	      <div class="bar bar-header item-input-inset">
	        <label class="item-input-wrapper">
	          <!-- <i class="icon ion-ios-search placeholder-icon"></i> -->
	          
	        <!--   <input type="search" placeholder="City" ng-model="searchCity" auto-complete ui-items="shops" ng-model-"">
	           -->
	           <!-- <autocomplete ng-model="selectedCity" data="shops" on-type="updateCities"></autocomplete> -->
	           <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="model" max-selected-items="3" />

	        </label>
	      </div>
      <!-- 	<ion-item ng-repeat="city in shops">
      		{{city.name}}
      	</ion-item> -->
      </ion-list>
   </ion-content>
</ion-modal-view>