<ion-view view-title="Items">

  <ion-nav-bar class="bar-calm">

      <ion-nav-buttons side="right">
        <button class="button button-icon ion-plus" ng-click="openModal('city')">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>


  </ion-nav-buttons>
  <ion-content>
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page ng-repeat="item in items">
        <ion-content>
          <div class="list">
            <div class="item">
              {{item.finalName}}
            </div>
            //all checked things
            //comments
            <div class="item">
              <p>Order at {{item.name}}</p>
              <p>{{item.address}}</p>
            </div>
          </div>
        </ion-content>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
