<ion-view view-title="Account">
	<ion-nav-title class="fireTitle">
		<strong>{{displayName}}</strong>
	</ion-nav-title>
  <ion-content class="itemStable">
  	<div class="card" ng-hide="authedBool">
	    <ion-list class="list">
			 	<ion-item class="item" ng-click="gglogin()">
		  		Sign In with Google
		  	</ion-item>
			 	<ion-item class="item" ng-click="fblogin()">
		 			Sign in with Facebook
		  	</ion-item>
			</ion-list>
		</div>

		<div ng-hide="!authedBool">
		<!-- <div> -->
			<div>
				<img src="{{profSrc}}" alt="" class="profImg center">
			</div>
			<ion-item class="item item-icon-right">
					<strong><span class="fireTitle">My drinks</span></strong>
					<!-- change this color -->
					<i class="icon ion-minus-circled minusIcon" ng-click="toggleDelete()"></i>
				</ion-item>
			<ion-list show-delete="showDelete">
				<!-- fix custom filter! -->
				<ion-item ng-repeat="item in items | filter:uid | filter:displayName | orderBy : '-votes' track by $index" class="item item-icon-right">
	        <span class="fireTitle">{{item.finalName}}</span>
	        <span class="badge assertive accountIcon fireFamily">{{item.votes}}&nbsp;<i class="ion-fireball"></i></span>
        	<ion-delete-button class="ion-minus-circled" ng-click="removeItem(item)"></ion-delete-button>
	      </ion-item>
	      <ion-item class="item item-icon-right">
	      	<a href="#/tab/items"><i class="icon badge ion-forward">
	      	</i></a>
	      	<p>Post a drink to the fire page!</p>
	      </ion-item>
			</ion-list>
		</div>
  </ion-content>
</ion-view>

<!-- figure out drag to delete - a little cleaner -->