<ion-view>
  <ion-nav-bar class="bar-calm">
      
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-plus" ng-click="openModal('city')">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-title>
    <!-- {{itemDisplayName}} -->
  </ion-nav-title>
  <ion-content>
    <div class="list">
      
      <!-- <ion-slide-page ng-repeat="item in items | orderBy : '-votes'" ng-model="selectedItem"> -->
      <div ng-repeat="item in items | orderBy : '-votes' track by $index" ng-model="selectedItem" class="item">
        <div class="list">
          <div class="item-icon-right item item-divider bar-stable">
            <strong>{{item.finalName}}</strong>
            <i class="icon ion-fireball {{localItems[$index].fireFill}}" ng-click="activateFire($index)"><span class="assertive right">{{item.votes}}</span></i>
          </div>
          <div class="item item-text-wrap">
            <src={{google.}}>
            <span class="h3-4">Crafted by {{item.displayName}}</span>
            <p>{{item.comments}}</p>
            <ion-list ng-repeat="option in item.menu">
              <div class="h3-4">{{option.name}}</div>
              <span ng-repeat="oitem in option.options | filter:{checked:true}"> {{oitem.name}}</span>
            </ion-list>
            
          </div>
          <div class="item">
            <p>Order at {{item.name}}</p>
            <!--actually the name of the shop-->
            <p>{{item.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


<!-- title should update according to current Item -->