<ion-view view-title="Account">
	<ion-nav-title>
		{{displayName}}
	</ion-nav-title>
  <ion-content>
  	<div>
  		<!-- <img src="img/partyBackground.jpeg" alt="" class="backgroundImg"> -->
  	</div>
  	<div class="card" ng-hide="authedBool">
	    <ion-list class="list">
			 	<ion-item class="item" ng-click="gglogin()">
		  		Sign In with Google
		  	</ion-item>
			 	<ion-item class="item" ng-click="fblogin()">
		 			Sign in with Facebook
		  	</ion-item>
			</ion-list>
		</div>
		<div ng-hide="!authedBool">
			<div>
				<img src="{{profSrc}}" alt="" class="profImg center">
			</div>
			<div class="list">
			<div class="bar-stable bar">
				<strong><h4>&nbsp;Drinks</h4></strong>
			</div>
			<div class="item">
				
			</div>

			<!-- fix custom filter! -->
			<div ng-repeat="item in items | filter:displayName | orderBy : '-votes' track by $index" ng-model="selectedItem" class="item item-icon-right">
        <!-- <div class="list"> -->
          <!-- <div class="item-icon-right item"> -->
            <span>{{item.finalName}}</span>
            <i class="icon ion-fireball {{localItems[$index].fireFill}}" ng-click="activateFire($index)"><span class="assertive right">{{item.votes}}</span></i>
          <!-- </div> -->
<!--           <div class="item item-text-wrap">
            <src={{google.}}>
            <span class="h3-4">Crafted by {{item.displayName}}</span>
            <p>{{item.comments}}</p>
            <ion-list ng-repeat="option in item.menu">
              <div class="h3-4">{{option.name}}</div>
              <span ng-repeat="oitem in option.options | filter:{checked:true}"> {{oitem.name}}</span>
            </ion-list>
            
          </div>
          <div class="item">
            <p>Order at {{item.name}}</p>
            <p>{{item.address}}</p>
          </div> -->
        </div>
		</div>
  </ion-content>
</ion-view>